<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="console" xsi:type="ColoredConsole"  layout="${date:format=HH\:mm\:ss}|${callsite}|${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/log-Current.txt" layout="${longdate} ${callsite} ${stacktrace:Format=DetailedFlat} ${level} ${message}" archiveNumbering="Rolling" archiveFileName="Log Old#####" maxArchiveFiles="99999" deleteOldFileOnStartup="false"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    
    <logger name="*" minlevel="Trace" writeTo="file,console" />   
  </rules>
</nlog>